@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

html, body, section {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, li, td {
    margin: 0;
    color: inherit;
}

hr {
    margin: 0.3rem 0.5rem;
}

body {
    display: grid;
    grid-template:  "a a a a"
                    "b b b c"
}

a {
    color: inherit;
}

td {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6, b {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}
td {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 0.75rem;
}

i {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding: 0.75rem;
}

.exp-period, .edu-period {
    padding: 0 2.5rem 0 1rem;
}
.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-circle {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    shape-outside: circle();
    clip-path: circle();
    background-color: rgb(131, 144, 160);
}
.skills-circle.filled {
    background-color: rgb(47, 64, 114);
}

.sect-title, .info-label, .skills-label{
    margin: 0 0.5rem;
}

.sect-title {
    color: rgb(27, 27, 107);
}

.content-body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 0.75rem;
}

#info-head {
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 107);
    color: white;
    grid-area: a;
    padding: 1rem;
}

#info-main {
    grid-area: b;

}

#info-additional {
    box-sizing: border-box;
    padding: 1rem;
    grid-area: c;
    background-color: rgb(181, 197, 238);
}

#my-name, #job-title {
    margin: 0;
    padding: 0 0.5rem;
}

#job-title {
    padding-bottom: 0.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#pro-desc{
    margin: 0;
    padding: 1rem;
}

#pro-desc-body {
    margin: 0;
    padding: 0;
}